<h2 class="p-3 d-flex justify-content-center fw-normal text-body-emphasis text-primary">{{ 'prochains cours' | translate}}</h2>
<hr style="margin-bottom: 20px;">


<div class="container-fluid">
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-1">
                    <div *ngIf="chargement" class="spinner-border text-warning" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="cours.length > 0; else secondBlock">

                <div class="col-9">
                    <div class="align-items-center row">
                        <div class="col-lg-8">
                            <div class="mb-3 mb-lg-0">
                                <h6 class="fs-16 mb-0">{{cours ? cours.length : 0 }} cours programmés(s).</h6>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let se of cours; let i = index" class="candidate-list">
                        <div class="candidate-list-box bookmark-post card mt-4" [ngClass]="{'reporte': se.reporte}">
                            <div class="p-4 card-body">
                                <div class="align-items-center row">
                                    <div class="col-auto">
                                        <div class="candidate-list-images">
                                            <a href="#"><img src="/assets/icons/icons8-livres.png" alt=""
                                                    class="avatar-md img-thumbnail rounded-circle" /></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-9">
                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                            <h5 class="fs-19 mb-0">
                                                <span class="text-primary fw-bold">{{se.libelleFr}}</span>
                                                <!-- <span class="badge bg-warning ms-1"> <i class="mdi mdi-star align-middle"> </i> 3.4 </span> -->
                                            </h5>
                                            <p class="text-muted mb-2"> <span>
                                                    <i class="fa-solid fa-person-chalkboard me-2"></i>{{se.ensnoms}}
                                                </span></p>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><i class="fa-regular fa-calendar"></i>
                                                    {{se.datejour | date : 'EEEE MMMM d y' }}</li>
                                            </ul>
                                        </div>
                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                            <span class="badge bg-soft-secondary fs-14 mt-1"> <i
                                                    class="fa-solid fa-clock"></i> {{se.heuredeb + '-' +
                                                se.heurefin}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="favorite-icon">
                                            <i class="fa-regular fa-star"></i>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 bg-light">
                    <div class="row mt-2">
                        <div class="col"> <span class="p-float-label">
                                <p-dropdown [(ngModel)]="courInitial.idperiode" (onChange)="parcoursAcademiqueList()"
                                    [style]="{width:'100%',height:'35px'}" placeholder="  " [showClear]="true"
                                    [options]="periodeAcademiques" optionLabel="nomperio" optionValue="id">
                                </p-dropdown>
                                <label for="inputtext">{{ 'periode Academique' | translate }}</label>
                            </span>
                            <small class="p-invalid" style="color: red;" *ngIf="!courInitial.idperiode">
                                {{ 'requis' | translate }}</small>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <span class="p-float-label">
                                <p-dropdown [(ngModel)]="courInitial.idparcours"
                                    (onChange)="promotionByParcList($event)" [filter]="true" filterBy="nomparc"
                                    [style]="{width:'100%',height:'35px'}" placeholder="  " [showClear]="true"
                                    [options]="parcoursAcademiques" optionLabel="nomparc" optionValue="id">
                                    <ng-template let-str pTemplate="item">
                                        <div> ({{str.codeparc}}) - {{str.nomparc}}</div>
                                    </ng-template>
                                </p-dropdown>
                                <label for="inputtext">{{ 'parcours' | translate }}</label>
                            </span>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col"> <span class="p-float-label">
                                <p-dropdown [(ngModel)]="courInitial.idue" [style]="{width:'100%',height:'35px'}"
                                    placeholder="  " [showClear]="true" [options]="uniteEnseignements"
                                    optionLabel="nomue" optionValue="id">
                                </p-dropdown>
                                <label for="inputtext">{{ 'Unité enseignement' | translate }}</label>
                            </span></div>

                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <div *ngIf="(courInitial.idparcours && uniteEnseignements.length<1)|| (courInitial.idperiode && parcoursAcademiques.length<1)"
                                class="spinner-border text-warning" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="col">
                            <button pButton pRipple label="{{'filter'| translate }}" icon="pi pi-search"
                                class="p-button-primary p-button-sm me-2" (click)="rechercher()"
                                [disabled]="!courInitial.idue"></button>
                        </div>

                    </div>
                </div>





                <div class="row">
                    <!-- <div class="mt-4 pt-2 col-lg-12">
                        <nav aria-label="Page navigation example">
                            <div class="pagination job-pagination mb-0 justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" href="#"><i
                                            class="fa-solid fa-chevron-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                            </div>
                        </nav>
                    </div> -->
                </div>
            </div>


            <ng-template #secondBlock>
                <div class="col-md-8">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>{{'aucun cour programmé pour l instant' | translate }} </h2>
                    </div>
                </div>
            </ng-template>


        </div>
    </section>
</div>