<h2 class="p-3 d-flex justify-content-center fw-normal text-body-emphasis text-primary">
    {{ 'notes' | translate}} </h2>
<hr style="margin-bottom: 20px;">


<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="position-relative p-5  text-muted bg-body border border-dashed rounded-5">
            
                <h4 class="text-primary text-body-emphasis"> {{ 'dernieres notes' | translate}}</h4>
            
                <ul class="list-group petit-detail" *ngFor="let se of notes; let i = index">
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-1  border-success"
                        [ngClass]="{'reporte': se.reporte,'annule': se.annule}">
            
                        <h6 class="text-body-emphasis"> {{se.nomue}}</h6>
                        <p class="fs-14"> {{se.nomsession}}</p>
                        <span class="fs-16 badge rounded-pill bg-dark p-1">{{se.note}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
