<div class="container-fluid mt-5">

    <div class="row">
        <div class="col">
            <div class="position-relative p-5  text-muted bg-body border border-dashed rounded-5">

                <h4 class="text-primary text-body-emphasis"> {{ 'soutenances' | translate}}</h4>

                <ul class="list-group petit-detail" *ngFor="let se of soutenances; let i = index">
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-1  border-success"
                        [ngClass]="{'reporte': se.reporte,'annule': se.annule}">

                        <h6 class="text-body-emphasis"> {{se.sujet}}</h6>
                        <p class="fs-14"> {{se.presidentjury}} / {{se.directeurthese}} / {{se.codirecteur}}</p>
                        <span class="fs-16 badge rounded-pill bg-dark p-1">{{se.datesoutenance}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>